<div class="container" style="    background: #004a9f;
color: white;">
    <div class="scrolling-text" [@scroll]="state" (@scroll.done)="scrollDone()"><strong
            style="top:5px;margin-right: 35px;">VPG Premier results:</strong>
        <!-- Last results: <img style=
        "width: 15px;
        height: 20px;
        margin-right: 3px;
        margin-left: 3px;" 
        src="https://upload.wikimedia.org/wikipedia/ro/thumb/a/ae/FC_Arges.svg/1200px-FC_Arges.svg.png">FC Arges Esports 1-2 <img style=
        "width: 15px;
        height: 20px;
        margin-right: 3px;
        margin-left: 3px;" 
        src="https://secure.cache.images.core.optasports.com/soccer/teams/150x150/1651.png">Wisla Plock (Super League VPL)
     -->
        <div *ngFor="let result of vpgResults; let i=index;">
            <img class="logo-home" src="https://vpgassets.gumlet.io/{{result.home_logo}}?width=30&amp;height=30"
                width="30" height="30">
            <strong>{{result.home_name}}</strong>
            <span class="score">{{result.home_score}} - {{result.away_score}}</span>
            <strong>{{result.away_name}}</strong>
            <img class="logo-away" src="https://vpgassets.gumlet.io/{{result.away_logo}}?width=30&amp;height=30"
                width="30" height="30">
        </div>
    </div>
</div>