
  /* mat-card css*/

  .card {
    width: 350px;
    height: 350px;
    cursor: pointer;
  }
  
  .header-image-vpg {
    background-image: url('https://vpgassets.gumlet.io/79f22334-f410-41c6-8eb4-e4f21f0f1dd8?width=115&height=95');
    background-size: 50px;
    background-position-x: -5px;
  }
    
  .header-image-liga1 {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/0/0a/The_official_logo_for_Liga_I_during_2019-20_season.png');
    background-size: 52px;
    background-position-x: -5px;
    background-position-y: -19px;
  }
  
  mat-card img{
    height: fit-content; //so that it takes up full space
    max-height: 225px !important; // this prevents the image from being extremely big
    object-fit: contain; 
    object-position: center; /* this centers and crops the image so that it doesn't break the aspect ratio */
    height: -webkit-fill-available;
  }