<app-scrolling-text></app-scrolling-text>
<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <!-- billieJJ Pro Clubs -->
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <img class="avatar mat-elevation-z8"
            src="https://scontent.fotp3-3.fna.fbcdn.net/v/t1.6435-9/65929230_2390396907722457_384672204631048192_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=174925&_nc_ohc=XRkEUCjzFdwAX_-J_8G&_nc_ht=scontent.fotp3-3.fna&oh=00_AT_slYbhXvxO-TWZP5M0uzo8_gm7bZklLM-MJ1z1kZBlDg&oe=628E5C9E" />

        <h4 class="name">ST/CAM | PSN: biiiieJJ</h4>
        <p class="designation">Current teams:</p>
        <p class="designation">FC Arges Esports PS4</p>
        <p class="designation">Orion Esports PS5</p>



        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button" routerLink="/about">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/help">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <section class="content mat-elevation-z8" fxLayout="row wrap" fxFlexAlign="stretch" fxLayoutGap="16px">
            <mat-card class="card mat-elevation-z5" routerLink="/vpg-liga1">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-vpg"></div>
                    <mat-card-title>VPG</mat-card-title>
                    <mat-card-subtitle>Profile</mat-card-subtitle>
                </mat-card-header>
                <!-- https://vpgassets.gumlet.io/4f0e80ec-406c-4ffb-b5de-760d612632a5?width=300px&height=300 -->
                <img mat-card-image
                    src="https://i.gyazo.com/309d5a33db62c9b413bc1c2164be0e11.png"
                    alt="Photo of billieJJ"

                    >
                <mat-card-content>
                    <p>
                        This is my profile on the VPG Platform
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button>Visit VPG website</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-vpg"></div>
                    <mat-card-title>VPG</mat-card-title>
                    <mat-card-subtitle>Profile</mat-card-subtitle>
                </mat-card-header>
                <!-- https://vpgassets.gumlet.io/4f0e80ec-406c-4ffb-b5de-760d612632a5?width=300px&height=300 -->
                <img mat-card-image
                    src="https://i.gyazo.com/309d5a33db62c9b413bc1c2164be0e11.png"
                    alt="Photo of billieJJ"

                    >
                <mat-card-content>
                    <p>
                        This is my profile on the VPG Platform
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button>Visit VPG website</button>
                </mat-card-actions>
            </mat-card>
        </section>
        <div class="content mat-elevation-z8" fxLayout="row wrap" fxFlexAlign="stretch">
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-vpg"></div>
                    <mat-card-title>VPG</mat-card-title>
                    <mat-card-subtitle>Profile</mat-card-subtitle>
                </mat-card-header>
                <!-- https://vpgassets.gumlet.io/4f0e80ec-406c-4ffb-b5de-760d612632a5?width=300px&height=300 -->
                <img mat-card-image
                    src="https://i.gyazo.com/309d5a33db62c9b413bc1c2164be0e11.png"
                    alt="Photo of billieJJ"

                    >
                <mat-card-content>
                    <p>
                        This is my profile on the VPG Platform
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button>Visit VPG website</button>
                </mat-card-actions>
            </mat-card>
            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>