
    <div class="content mat-elevation-z8" fxLayout="row wrap" fxFlexAlign="stretch" fxLayoutGap="16px">
        <mat-card class="card mat-elevation-z5" routerLink="/vpg-liga1">
            <mat-card-header>
                <div mat-card-avatar class="header-image-vpg"></div>
                <mat-card-title>VPG Liga 1</mat-card-title>
                <mat-card-subtitle>VPG RO</mat-card-subtitle>
            </mat-card-header>
            <!-- https://vpgassets.gumlet.io/4f0e80ec-406c-4ffb-b5de-760d612632a5?width=300px&height=300 -->
            <img mat-card-image
                src="https://i.gyazo.com/bf8416dbae210b25da03f8068dff69c8.png"
                alt="Photo of RVFL Logo"
                >
            <mat-card-content fxLayoutAlign="center">
                <!-- <p style="font-weight: 500;margin-top:15px">
                    Table, last matches, etc
                </p> -->
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-raised-button>Visit VPG website</button>
            </mat-card-actions> -->
        </mat-card>
        <mat-card class="card mat-elevation-z5" routerLink="/liga1">
            <mat-card-header>
                <div mat-card-avatar class="header-image-liga1"></div>
                <mat-card-title>Liga 1 (IRL)</mat-card-title>
                <mat-card-subtitle>Romanian League table</mat-card-subtitle>
            </mat-card-header>
            <!-- https://vpgassets.gumlet.io/4f0e80ec-406c-4ffb-b5de-760d612632a5?width=300px&height=300 https://i.gyazo.com/309d5a33db62c9b413bc1c2164be0e11.png-->
            <img mat-card-image
                src="https://upload.wikimedia.org/wikipedia/en/0/0a/The_official_logo_for_Liga_I_during_2019-20_season.png"
                alt="Photo of Liga 1 Logo"
                >
            <mat-card-content fxLayoutAlign="center">
                <!-- <p style="font-weight: 500;margin-top:15px">
                    Table, last matches, etc
                </p> -->
            </mat-card-content>
        </mat-card>
        <a style="text-decoration: none;"href='https://virtualprogaming.com/user/billiejj'>
        <mat-card class="card mat-elevation-z5" routerLink="/">
            <mat-card-header>
                <div mat-card-avatar class="header-image-vpg"></div>
                <mat-card-title>billieJJ VPG Profile</mat-card-title>
                <mat-card-subtitle>Player Profile</mat-card-subtitle>
            </mat-card-header>
            <!-- https://vpgassets.gumlet.io/4f0e80ec-406c-4ffb-b5de-760d612632a5?width=300px&height=300 -->
            <img mat-card-image
                src="https://vpgassets.gumlet.io/4f0e80ec-406c-4ffb-b5de-760d612632a5?width=300px&height=300"
                alt="Photo of RVFL Logo"
                >
            <mat-card-content fxLayoutAlign="center">
                <!-- <p style="font-weight: 500;margin-top:15px">
                    Table, last matches, etc
                </p> -->
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-raised-button>Visit VPG website</button>
            </mat-card-actions> -->
        </mat-card></a>
    </div>
